language: go
sudo: false

matrix:
  include:
    - go: 1.5
    - go: 1.6
    - go: 1.7
    - go: 1.8
    - go: 1.9
    - go: "1.10"
    - go: "1.11"
    - go: tip

script:
  - godepgraph github.com/kisielk/godepgraph | diff -u expected.txt -
